Flask==1.1.2
gunicorn==20.0.4
jedi==0.16.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lxml==4.5.0
psycopg2-binary==2.8.4
pyparsing==2.4.6
rabbitpy==2.0.1
requests==2.23.0
selenium==3.141.0
SQLAlchemy==1.3.13
sqlparse==0.3.0
terminado==0.8.3
testpath==0.4.4
urllib3==1.25.6
